<%= form_with(model: diary) do |form| %>
  <% if diary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diary.errors.count, "error") %> prohibited this diary from being saved:</h2>

      <ul>
        <% diary.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
   
    <%= form.label :image %><br>
    <%= form.file_field :image, class: 'form-control mb-3', accept: 'image/*' %>
    <%= form.hidden_field :image_cache %>
    
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
